numpy>=1.24
scipy>=1.10
pandas>=2.0
matplotlib>=3.7
seaborn>=0.12
lifelines>=0.27
pytest>=7.0
jinja2>=3.1
scikit-learn>=1.3
scikit-survival>=0.23
torch>=2.0
torchtuples>=0.2.2
pycox>=0.2.3
survlimepy>=0.2.0
survshap>=0.4.0
